/* --------- Global style */

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #eeeeee;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-align: center;
    margin: 0;
}

/* --------- Heading */

header {
    text-align: center;
    height: 40px;
}


/*------------game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}

.control {
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
    background-color: #bebebe;
    cursor: pointer; /*----------this exact line of code was taken from the Youtube channel developedbyed*/

}

#result-message {
    padding: 10px;
    height: 20px;
    font-size:x-large;
}

.user {
    background-color: #C1E1C1;
    float: left;
    width: 45%;
}

#user-image {
    width: 75%;
}

.computer {
    background-color: #faa0a0;
    float: right;
    width: 45%;
}

#computer-image {
    width: 75%;
}


/*------------footer */

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #bebebe;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2px;
    min-height: 70px;
}

#copyright {
    font-size: small;
}
