/* --------- Global style */

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* --------- Buttons */

.button {
    border-radius: 2px;
    color: blue;
}

/*------------scores */

#your-score {
    float: left;
}

#computer-score {
    float: right;
}
/*------------game area */


#game-area {

}

#userbox {
    float: left;

    width: 45%;
}

#user-image {
width: 75%;
border: 5px;
}
#computerbox {
    float: right;
    width: 45%;
}

#computer-image {
    width: 75%;
    border: 1px;
}
/*------------footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px; 
    background-color: blueviolet;
    
}

#copyright {
    font-size: small;
}